@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    /* font-family: 'Inter', sans-serif; */
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
button{
    cursor: pointer;
}
/* --- Shared Section Styles --- */
.special-color {
    color: #FF5400;
}

.secondary-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 35px;
    border: none;
}

.responsive-navmenu {
    display: none;
}

.company-name {
    font-size: 36px;
    color: #131318;
    font-weight: 800;
}

/* --- Header Section Styles */
header {
    max-width: 1440px;
    margin: 0 auto;
}

/* --- Nav Section Styles --- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 2.2rem;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    gap: 45px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

/* --- Banner Section Styles --- */
.banner {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    border-radius: 16px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-content {
    padding: 106px 185px;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.banner-description {
    margin-bottom: 48px;
    text-align: center
}

.banner-input {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    gap: 24px;
}

.banner-input select,
.banner-input input {
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    background: #FFF;
    padding-left: 15px;
    color: rgba(19, 19, 24, 0.50);
    border: none;
}
.ban-inp{
    flex: 1;
}
/* --- Main Styles --- */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* --- Popular Tours Styles --- */
.popular-styles-container {
    display: flex;
    gap: 100px;
    margin: 100px 0;
}

.popular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: left;
    margin-bottom: 24px;
}

.popular-description,
.text-columns ul,
.popular-ending {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.text-columns ul {
    margin-left: 12px;
}

.img-columns img {
    width: 540px;
    height: 550px;

}

.text-columns li {
    margin-bottom: 16px;
}

.perfect-text ul {
    margin-left: 15px;
}

/* --- Choose Your Destination --- */

.dest-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.dest-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 50px;
}

.img-grid img {
    width: 100%;
    height: 100%;
}

.img-row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.img-row .container {
    flex-grow: 1;
}

.item-4 {
    flex-grow: 1;
}

.container {
    position: relative;
}


.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}

/* --- Why Choose Us Styles --- */
.choose-us {
    margin: 100px auto;
}

.choose-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.choose-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.choose-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}



.reason-card {
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.reason-card-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}

.reason-card-desc {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.rs-1 {
    grid-area: first;
}

.rs-2 {
    grid-area: second;
}

.rs-3 {
    grid-area: third;
}


.choosing-reason {
    display: grid;
    grid-template-areas: 'first first second second'
                         '.     third third    .   ';
    gap: 25px;
}


/* ---------------------------- */

/* Deals and discount */
.text-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.text-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.deals-img-1 {
    background-image: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;
}

.deals-img-2 {
    background-image: url('../Images/Group\ 40.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;
}

.deals-container {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 52px 77px 50px 50px;
}

.deals-container ul {
    list-style: none;
    display: flex;
    gap: 25px;
    color: #FF5400;
    margin-bottom: 25px;

}

.deals-img-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.deals-img-desc {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 16px;
}

.deals-img-price {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deals-img-1 {
    padding: 56px 56px 56px 535px;
}

.deals-img-2 {
    padding: 56px 535px 56px 56px;
}

.icon-color {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.see-all-packages {
    display: flex;
    justify-content: center;
}


/* A Simple Perfect Place To Get Lost */
.perfect-place-container {
    display: flex;
    gap: 30px;
    margin: 100px 0;
}

.perfect-text-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 25px;
}

.perfect-text-descriptin {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.perfect-text ul {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 32px;
}

.perfect-img-container {
    position: relative;
}

.perfect-img-container video {
    border-radius: 16px;
}

.perfect-img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    z-index: 1;
    text-align: center;
}

/* --- Customer Review Section --- */
.review-title {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 50px 0;
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px
}

.reviews {
    border-radius: 15px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    text-align: center;
}

.customer-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #FF5400;
}


/* --------------------------------- */

/* --- Newsletter Styles --- */
.newsletter-container {
    display: flex;
    gap: 25px;
    margin: 100px 0;
}

.newsletter-msg {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 40px;
    max-width: 470px;
    gap: 24px;
}

.newsletter-msg-line {
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 24px;
}

.newsletter-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-description {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.newsletter-img {
    position: relative;
    flex-grow: 1;
}

.newsletter-img img {
    width: 100%;
}

.newsletter-img-text {
    position: absolute;
    bottom: 50px;
    right: 16px;
    color: white;
    text-align: center;
    background-color: #FF5400;
    padding: 15px 40px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
}

.news-input {
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    padding: 16px 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-bottom: 20px;
    width: 100%;
}

.subscribe {
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    width: 100%;
}

/* --- Footer Section Styles --- */
.footer-container {
    padding: 110px 285px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-description {
    margin-bottom: 32px;
}

.footer-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 15px;
    list-style: none;
    display: flex;
    gap: 25px;
}

.footer-container ul a {
    text-decoration: none;
    color: black;
}

.footer-container li {
    color: white;
}

.footer-line {
    background: rgba(19, 19, 24, 0.10);
    margin: 50px 0;
}

/* --- Responsiveness for mobile device --- */
@media screen and (max-width: 576px) {

    header,
    main {
        padding: 0 20px 0px 20px;
    }

    .nav-menu {
        display: none;
    }

    .responsive-navmenu {
        display: block;
    }

    .banner-content {
        padding: 30px 24px;
    }

    .banner-input input {
        padding: 15px 0;
        padding-left: 10px;
    }

    select {
        padding: 15px;
    }

    .img-columns img {
        width: 100%;
    }

    .img-row,
    .banner-input,
    .perfect-place-container,
    .newsletter-container,
    .popular-styles-container {
        flex-direction: column;
    }

    .choosing-reason {
        grid-template-areas: 'first' 'second' 'third';
    }

    .deals-img-1,
    .deals-img-2 {
        padding: 187px 16px 16px 16px;
    }

    .reviews-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        padding: 100px 0;
    }
    .footer-line{
        margin: 50px 20px
    }
}

@media screen and (min-width: 577px) and (max-width: 960px) {

    header,
    main {
        padding: 0 20px 0px 20px;
    }

    .nav-menu {
        display: none;
    }

    .responsive-navmenu {
        display: block;
    }

    .banner-content {
        padding: 30px 24px;
    }

    .banner-input input {
        padding: 15px 0;
        padding-left: 10px;
    }

    select {
        padding: 15px;
    }

    .img-columns img {
        width: 100%;
    }

    .img-row,
    .banner-input,
    .perfect-place-container,
    .newsletter-container,
    .popular-styles-container {
        flex-direction: column;
    }
    .newsletter-container{
        justify-content: center;
        align-items: center;
    }
    .choosing-reason {
        grid-template-areas: 'first' 'second' 'third';
    }

    .deals-img-1,
    .deals-img-2 {
        padding: 187px 16px 16px 16px;
    }

    .reviews-container {
        grid-template-columns: 1fr;
    }

    .footer-container {
        padding: 100px 0;
    }
    .footer-line{
        margin: 50px 20px
    }
}